.star {
  cursor: pointer;
  position: relative;
  top: 2px;
  margin-left: 15px;
}
.filter {
  width: 400px;
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -200px;
}

.menu {
  position: relative;
  overflow: visible;
}

.popover {
  position: relative;
  top: -5px;
}
